DATABASE_URL="postgresql://postgres:postgres@localhost:5432/soljam_hotel?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/soljam_hotel?schema=public"
BETTER_AUTH_SECRET=""
GEMINI_API_KEY=""
STRAPI_URL="http://localhost:1337"
STRAPI_TOKEN=""
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_API_TOKEN=""
CLOUDFLARE_IMAGES_BUCKET=""
